[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/Kuraigus/ft_printf.git
[submodule "ft_server"]
	path = ft_server
	url = https://github.com/Kuraigus/ft_server.git
[submodule "libft"]
	path = libft
	url = https://github.com/Kuraigus/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/Kuraigus/get_next_line.git
